<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseRequire</servlet-name>
        <servlet-class>controller.BaseRequire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>controller.AddOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>controller.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderController</servlet-name>
        <servlet-class>controller.searchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>controller.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderController</servlet-name>
        <servlet-class>controller.EditOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderDetailController</servlet-name>
        <servlet-class>controller.EditOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <servlet-class>controller.DeleteOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailInCurrentOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderDetailInCurrentOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderDetailController</servlet-name>
        <servlet-class>controller.AddOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerController</servlet-name>
        <servlet-class>controller.EditCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CongNoController</servlet-name>
        <servlet-class>controller.CongNoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerController</servlet-name>
        <servlet-class>controller.searchCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportController</servlet-name>
        <servlet-class>controller.ImportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseRequire</servlet-name>
        <url-pattern>/BaseRequire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderController</servlet-name>
        <url-pattern>/searchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderController</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderDetailController</servlet-name>
        <url-pattern>/EditOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <url-pattern>/DeleteOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailInCurrentOrderController</servlet-name>
        <url-pattern>/DeleteOrderDetailInCurrentOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderDetailController</servlet-name>
        <url-pattern>/AddOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerController</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CongNoController</servlet-name>
        <url-pattern>/CongNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerController</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportController</servlet-name>
        <url-pattern>/Import</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
